#hheaderCont					{ background:#555e00 url(../images/Header2.png) center top repeat-x; width:100%; clear:left; border-bottom:solid 2px #FFF; }
	#hheader					{ width:980px;/*1400px;*/ margin:0 auto; height:60px; }
		.headerLogo				{ float:left; width:100px;/*456px;*/ padding: 10px 0 0 0;}
		.headerLogo img			{ border:none; background:transparent !important}
		.headerTitle			{ float:left;  padding: 10px 0 0 10px;}

body						{ font-family: "ARIAL" !important; font-size: 12px; 
								}
#main						{ width:      100%;
							  height:     100%; 
							  z-index:    10;
							  top:        0; 
							  left:       0; 
							  position:   fixed; 
							  background-image:  url('../images/bg-login.png');
								background-position: center 60px;
								background-repeat: no-repeat;
								}
.dataTable						{ font-family: "ARIAL" !important; font-size: 14px !important;}
.contentInfo					{ color:#11A/*#A11*/;background-color:#AFF/*#FFA*/;border:1px inset #A11}

/*#tablePAPI td:hover {background:#fff195;}*/
.ansrowA:hover {background:#fff195; cursor: pointer;}
.ansrowB:hover {background:#fff195; cursor: pointer;}

#tableDISC *{font-size: 11px !important; text-align:right; font-weight:bold;}
.inputdisc:disabled {background-color:rgba(255, 241, 149, 0.43) !important; height:32px;} 
